$font-stack: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$background-primary-color: #282b2e;
$background-secondary-color: #ffffff;
$background-tertiary-color: #363F45;
$font-primary-color: #000000;
$font-secondary-color: #ffffff;
$font-tertiary-color: #A3ABAF;
$imgpath: 'images';

body {
  font: 100% $font-stack;
  color: $font-tertiary-color;
  background-color: $background-secondary-color;
  font-size: 16px;
}

a {
  color: $font-primary-color;
  &:hover {
    color: $font-tertiary-color;
  }
}

nav {
  position: fixed;
  background-color: $background-secondary-color;
}

.nav-menu-responsive__button {
  cursor: pointer;
  &:hover {
    background-color: $background-tertiary-color;
  }
}

.nav-social {
  border-left: 1px solid grey;
}

.section-main {
  background: url('/images/pexels-photo-265152.jpeg') repeat-x fixed center center;
  .section-main__title, .section-main__subtitle {
    font-weight: bolder;
  }
}

.section-table {
  background-color: $background-secondary-color;
}

.section-table-content {
  .article-table__img {
    img {
      border: 1px solid $background-tertiary-color;
      border-radius: 5px;
    }
  }
  .article-table__title {
    font-weight: lighter;
    font-size: 1.5rem;
    color: $font-primary-color;
  }
  .article-table__categories {
    font-size: .7rem;
  }
  .article-table__resume {
    font-size: 1rem;
    line-height: 1.5em;
  }
  .article-table__info {
    font-size: .8rem;
  }
}

.pre-footer {
  background-color: $background-tertiary-color;
}

footer {
  background-color: $background-primary-color;
}